* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.add-button {
  width: 30px;
  height: 30px;
}

.body {
  margin: 20px;
}

.field-list {
  display: flex;
}
.list-items {
  display: flex;
  justify-content: space-between;
}

.list-group {
  display: flex;
  justify-content: space-between;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.nested-list {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
